.language {
    display: inline;
  }
  .heading {
    font-size: 20px;
  }
  #source {
    width: 100% !important;
    background: #cccccc52;
    height: 130%;
    font-size: 15px;
    resize: vertical;
  }
  #input {
    background: #cccccc52;
    width: 45.6%;
    height: 20%;
    
    resize: vertical;
    font-size: 17px;
    margin-left: 1%
  }
  #output {
    background: #cccccc52;
    width: 44%;
    height: 60%;
    position: fixed;
    top: 15%;
    left: 50%;
    font-size: 18px;
    right: 15%;
    resize: none;
  }
  .language {
    width: 150px;
  }
  #top{
    margin-top: 40%;
  }
  .mar{
    margin-top: 10%;
  }
  .space{
    margin-left: 1%;
  }